* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
    margin: 0 auto;
}
.container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
    form {
        width: 20%;
        border: solid black;
    }


    .todosContainer {
        width: 40%;
        border: solid black;
    }
     .todoCard {
        height: 50px;
        background-color: aquamarine;
     }